@font-face {
    font-family: 'SpaceGrotesk-Regular';
    src: url(../fonts/SpaceGrotesk-Regular.woff),
        url(../fonts/SpaceGrotesk-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SpaceGrotesk-Medium';
    src: url(../fonts/SpaceGrotesk-Medium.woff),
        url(../fonts/SpaceGrotesk-Medium.woff2);
    font-weight: 500;
    font-style: normal;
}